* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}
html {
    background-image: linear-gradient(#77216F, #5E2750);
    font-size:16px;
    user-select:none;
}
a {
    text-decoration: none;
    color: inherit;
}
#mainContainer {
   display: grid;
   grid-template-columns: 10% 80% 10%;
   min-height:calc(100% - 1em);
}
#bodyContainer {
    min-height: calc(100vh - 1rem);
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
    padding-top:10%;
}
#logo {
    width:100%;
    filter: drop-shadow(.5em .5em 0.5em #5E2750);
}
#boardSelector {
    margin-top:5em;
    margin-bottom:5em;
}
#footer {
    font-size: 48px;
    background-image: linear-gradient(#ffcc87, #FDBD60);
    color: #77216F;
    text-align: center;
    padding:15px;
}
#controlBox{
    width:100%;
    margin-top: 4em;
}
button {
    font-weight: 700;
    width:25%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: .5em;
    background-image: linear-gradient(#fbb040, #ffcc87);
    border:none;
    border-radius: 2em;
    font-size: 2em;
    padding:10px;
    color: #77216F;
    box-shadow:  8px 8px 16px #5f1a59, 
    -8px -8px 16px #8f2885;
}
#solve {
    margin:0;
    padding:.5em;
    margin-top:4rem;
    font-size: 4em;
    width:100%;
    font-weight: 900;
}
.numpad{
    color: #fbb040;
    background-image: none;
    background-color: transparent;
    border: .09em solid #fbb040;
    border-radius: .5em;
    margin-left: 1%;
    margin-right: 1%;
    width:18.4%;
    font-weight: 900;
    font-size:4em;
}
.gameboard{
    border-radius: 1.5em;
    margin-top:3em;
    box-shadow:  8px 8px 16px #5f1a59, 
                -8px -8px 16px #8f2885;
}
#gameCellActive{
    background-color:#fbb04035;
}
#errorContainer{
    display: none;
    z-index: 100;
    font-size: 6em;
    position: fixed;
    width:100vw;
    height:100vh;
    background-color:#00000090;
    align-items: center;
}
#errorNature{
    color: #77216F;
    font-size: .5em;
    text-align: center;
    border-radius: 1.5em;
    background-image: linear-gradient(#fbb040, #ffcc87);
    padding: 1em;
    line-height:1.3;
    width:90%;
    margin:auto;
    margin-top:25vh;
}
#errorHeading{
    font-size: 1.5em;
    color: #77216F;
    font-weight:900;
}
#errorOkay{
    font-size:1em;
    text-align: center;
    color: #fbb040;
    width:80%;
    margin:0;
    margin-top:.5em;
    background-image: linear-gradient(#77216F, #5E2750);
    box-shadow:  8px 8px 16px #d5a25b, 
                -8px -8px 16px #ffe07d;
}
h1{
    font-size:3em;
    font-weight: 700;
    color: #ffcc87;
    filter: drop-shadow(.1em .1em 0.5em #5E2750);
}
table {
    border-radius:2em;
    margin-top: 5rem;
    width:100%;
    border-spacing:0;
    box-shadow: 8px 8px 16px #5f1a59, -8px -8px 16px #8f2885;
}
td {
    width: 8.88vw;
    border: 1.5px solid #fbb040;
}
tr {
    text-align: center;
    color: #fbb040;
    width:11.11%;
    padding:.1em;
    font-size:3em;
    height: 8.88vw;
}
td:nth-child(1){
    border-left: 5px solid #fbb040;
}
td:nth-child(3), td:nth-child(6){
    border-right: 5px solid #fbb040;
}
td:nth-child(9){
    border-right: 5px solid #fbb040;
}
tr:nth-child(1)>td:nth-child(n+1):nth-child(-n+9){
    border-top: 5px solid #fbb040;
}
tr:nth-child(3)>td:nth-child(n+1):nth-child(-n+9), tr:nth-child(6)>td:nth-child(n+1):nth-child(-n+9){
    border-bottom: 5px solid #fbb040;
}
tr:nth-child(9)>td:nth-child(n+1):nth-child(-n+9){
    border-bottom: 5px solid #fbb040;
}
tr:nth-child(1)>td:nth-child(1){
    border-radius:.5em 0 0 0;
}
tr:nth-child(9)>td:nth-child(1){
    border-radius:0 0 0 .5em;
}
tr:nth-child(1)>td:nth-child(9){
    border-radius:0 .5em 0 0;
}
tr:nth-child(9)>td:nth-child(9){
    border-radius:0 0 .5em 0;
}
